@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


* {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-rows:  80px 1fr  80px;
}